<div style="background-color: yellow; ">
  {% section 'ankit-section' %}

  Page title is: {{ page.title }}

  <hr>

  {{ page.content }}

  This is my page handel: {{ page.handle }}

  <h1>ANKIT TANWAR TEMPLATE PAGE</h1>
</div>
